<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contributor Dashboard</title>
    <link rel="stylesheet" href="/stylesheets/studashboard.css">
</head>
<body>
    <div class="main-details">
        <div class="details">
        <p>hii  <%=data%></p>
           <a href="">logout</a>
        </div>
       </div>
   <div class="dashboard-menu">
       <div class="menu">
       <ul>
           <li><a href="/contridash?username=<%=data%>">Profile</a></li>
           <li><a href="/contridash/schedule?username=<%=data%>">Schedule a class</a></li>
           <li><a href="/contridash/scheduledclasses?username=<%=data%>">Classes Scheduled</a></li>
           <li><a href="/contridash/contriclassesdone?username=<%=data%>&status=done">Classes Done</a></li>
       </ul>
    </div>
   </div>
   
</body>
</html>