<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>student Dashboard</title>
    <link rel="stylesheet" href="/stylesheets/studashboard.css">
</head>
<body>
    <div class="main-details">
        <div class="details">
           hii <%=data%>
           <a href="">logout</a>
        </div>
       </div>
   <div class="dashboard-menu">
       <div class="menu">
       <ul>
           <li><a href="">Profile</a></li>
           <li><a href="/studentdash/teacher?username=<%=data%>&message=Enter subject">Teachers</a></li>
           <li><a href="/studentdash/attendCLasses?username=<%=data%>">Classes Done</a></li>
           <li><a href="/studentdash/classesdone?username=<%=data%>">Classes Joined</a></li>
           <li><a href="/booksite?username=<%=data%>">Get a Book</a></li>
       </ul>
    </div>
   </div>
   
</body>
</html>